@font-face {
    font-family: NanumB;
    src: url("../font/NanumGothicBold.otf");
}


@font-face {
    font-family: Nanum;
    src: url("../font/NanumGothic.otf");
}

.nav_title{
    font-weight: bold;
}

.Main_subtitle {
    font-family: Nanum;
    color: white;
    font-size: 25px;
}

.Main_title{
    font-size: 600%;
    font-weight: bold;
}

.vue-typer .custom.char.typed {
    color: white;
}

.what_color {
    background-color: #0f1117;
}

.what_main_title_white {
    color: white;
    font-size: 80px;
    font-weight: bold;
}

.what_main_sub_title_white{
    color: white;
    font-weight: bold;
}

.what_main_sub_title{
    font-weight: bold;
}

.what_col_title_white{
    font-size: 80px;
    color: white;
    font-weight: bold;
}

.what_text{
    font-family: NanumB;
    font-weight: bold;
}

.what_text_body_white{
    font-family: NanumB;
    color: white;
    font-weight: bold;
}

.what_img_shadow{
    box-shadow: 0px 0px 20px 10px  ;
}

.what_full {
    height: 100vh;
    width: 100%;
}

.what_comment_text{
    font-size: 10px;
    font-weight: bold;
}

.why_color {
    background-color: #064663;
}

.what_row {
    height: 50vh;
}

.what_img{
    min-height: 300px; 
    object-fit: contain;
    padding-top: 5rem;
}


.end_title{
    font-size: 80px;
    font-weight: bold;
}

.end_sub{
    font-size: 30px;
    font-weight: bold;
}

.py-deit {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.c_article {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
}

.main{
    background-size: cover;
    background-image:  linear-gradient( 
        rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
        url("../img/Main_Background.jpg");
}  

@media (max-width: 980px) {
    .Main_title{
        font-size: 290%;
        font-weight: bold;
    }

    .Main_subtitle {
        color: white;
        font-size: 20px;
    }

    .what_title{
        text-align: center;
        font-size: 250%;
        font-weight: bold;
    }
    
    .what_col_title_white{
        font-size: 300%;
        color: white;
        font-weight: bold;
    }

    .what_row {
        height: auto;
    }

    .what_img{
        min-height: 300px; 
        object-fit: contain;
        padding-top: 0rem;
    }
}